$color-white: #ffffff;
$color-black: #000000;
$color-gray: #f4f4f4;
$color-background-header: #FBFAF9;
$color-background-main: #e5e5e5;
$color-background-propoal: #e1f1ff;
$color-background-button: #3343e1;
$color-section: #252421;
$color-section-selected: #3343e1;
$color-subsection: rgba(0, 0, 0, 0.9);
$color-selected-subsection-background: #3343e1;
$color-divider:#c4c4c4;
$color-placeholder: #c4c4c4;
